In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('home data.csv')

In [3]:
df.head()

           x          y
0  48.955889  60.723602
1  44.687196  82.892504
2  60.297327  97.379897
3  45.618644  48.847153
4  38.816818  56.877213

In [4]:
df.shape

(99, 2)

In [5]:
x = df ['x']
y = df ['y']

In [6]:
x

0     48.955889
1     44.687196
2     60.297327
3     45.618644
4     38.816818
        ...
94    50.030174
95    49.239765
96    50.039576
97    48.149859
98    25.128485
Name: x, Length: 99, dtype: float64

In [7]:
y

0     60.723602
1     82.892504
2     97.379897
3     48.847153
4     56.877213
        ...
94    81.536991
95    72.111832
96    85.232007
97    66.224958
98    53.454394
Name: y, Length: 99, dtype: float64

# Gradient Descent in Machine Learning

In [10]:
#first_Step
m = 0
c = 0
Learning_rate = 0.0001

n = int(len(x))

iterations = 1000

#second_step
for i in range(iterations):
    y_prediction = m * x + c
    dervatives_m = (-2/n) * sum(x*(y-y_prediction))
    dervatives_c = (-2/n) * sum(y-y_prediction)

  #Final_step
    m = m - Learning_rate *  dervatives_m
    c = c - Learning_rate *  dervatives_c

    
#print(m,c)

print('This is m:',m)
print('This is c:',c)

This is m: 1.4796491688881985
This is c: 0.10148121497503648

# Make Predictions

In [14]:
x = float(input('Enter any value of x:'))
y = 1.4796491688881985 * x + 0.10148121497503648
y

Enter any value of x:60.297327

89.32037099670498